@font-face {
  font-family: "SBBWeb Roman";
  src: url(https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Roman.woff2);
}
@font-face {
  font-family: "SBBWeb Thin";
  src: url(https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Thin.woff2);
}
@font-face {
  font-family: "SBBWeb Bold";
  src: url(https://cdn.app.sbb.ch/fonts/v1_6_subset/SBBWeb-Bold.woff2);
}
* {
  font-family: "SBBWeb Roman", Helvetica, Arial, sans-serif;
  outline: none;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}
#header {
  height: 48px;
  background-color: #ffffff;
  border-bottom: solid 1px #cccccc;
  width: 100%;
  position: fixed;
}
.mod_header_logo_content {
  float: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 12px;
  margin-top: 8px;
  width: 190px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}
td, th {
  border: 1px solid #ddd;
  padding: 1px 8px 1px 8px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  font-family: "SBBWeb Roman";
  line-height: 34px;
}
td:hover, th:hover {
  overflow: visible;
}
tr:nth-child(odd) {
  background-color: #F6F6F6;
  transition: 0.4s;
}
tr:nth-child(even) {
  background-color: #ffffff;
  transition: 0.4s;
}

tr:hover {
  transition: 0.4s;
  background-color: #ddd;
}

th {
  text-align: left;
  background-color: #e5e5e5;
  color: #000000;
  font-family: "SBBWeb Bold";
}
td span {
  height: 34px;
  line-height: 34px;
  font-size: 15px;
  color: #000000;
  border: solid 1px #000000;
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #ffffff;
  font-family: "SBBWeb Roman";
}
#editCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
}
.editContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  margin: 20px 40px 20px 40px;
}
.editFrame {
  position: absolute;
  background-color: #ffffff;
  max-height: 80vh;
  max-width: 80vw;
  overflow: auto;
  border: solid 1px #444444;
  box-shadow: 0px 4px 0px rgba(0,0,0,0.1)
}
.editFooter {
  position: relative;
  display: flex;
  column-gap: 8px;
  border-top: solid 1px #E5E5E5;
  padding: 7px 15px 7px 15px;
}
.inputWrapper {
  width: 320px;
}
.inputWrapper label {
  font-size: 13px;
  line-height: 16px;
  color: #686868;
  white-space: nowrap;
  display: block;
  margin: 0px 0px 3px 0px;
  font-family: "SBBWeb Roman";
  text-align: left;
}
input, select {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 23px;
  padding: 5px 8px 6px 8px;
  color: #444444;
  border-radius: 2px;
  border: solid 1px #B7B7B7;
  font-family: "SBBWeb Roman";
  box-sizing: border-box;
}
input:focus, select:focus {
  border: solid 1px #444444;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}
.checkboxWrapper{
  text-align: left;
}
.checkboxWrapper input[type="checkbox"] {
  display: inline-block;
  float: left;
}
.checkboxWrapper label {
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  margin: 2px 0px 3px 8px;
}
button {
  padding: 6px 16px 7px 16px;
  background-color: #dcdcdc;
  color: #444444;
  line-height: 23px;
  border-radius: 2px;
  font-size: 15px;
  transition: 0.4s;
  cursor: pointer;
  border: none;
  font-family: "SBBWeb Roman";
  min-width: 100px;
  float: left;
}
button:hover {
  background-color: #cdcdcd;
  transition: 0.4s;
}
button.right {
  float: right;
}
button.red {
  background-color: #eb0000;
  color: #ffffff;
}
button.red:hover{
  background-color: #C60018;
  color: #ffffff;
}
#header button {
  margin: 3px 24px 3px 24px;
  font-size: 14px;
  color: #767676;
  font-family: "SBBWeb Roman";
  background: none;
  padding: 0px;
  line-height: 48px;
}
#header button:hover {
  color: #C60018;
  text-decoration: underline;
}
div.checkbox {
  width: 300px;
  height: 46px;
  border-radius: 4px 18px 18px 18px;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
  position: relative;
  cursor: pointer;
}
div.slider {
  background-color: #444;
  width: 26px;
  height: 26px;
  position: absolute;
  border-radius: 14px;
  margin: 4px;
  left: 0px;
  border: solid 1px #222;
  transition: 0.4s;
  top: 10px;
}
div.checkbox[value="1"] .slider {
  background-color: #17d01f;
  transition: 0.4s;
  filter: blur(1px);
  border-color: #e4ff9a;
  left: 264px;
}
svg {
  height: 40px;
}
#contentCanvas {
  padding-top: 48px;
}
h1 {
  color: #000000;
  line-height: 34px;
  font-size: 28px;
  font-family: "SBBWeb Thin";
  padding: 42px 20px 20px 20px;
  font-weight: 400;
}
.svgPreview {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #eb0000;
}
#notificationCanvas {
  position: fixed;
  top: 50px;
  right: 50px;
  width: auto;
  overflow: hidden;
  height: auto;
  z-index: 1000;
}
p.notifier {
  width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "SBBWeb Thin";
}
p.success {
  border: solid 1px;
  border-color: #00973B;
  background-color: #ffffff;
  color: #00973B;
}
p.error{
  background-color: #EB0000;
  color: #FFFFFF;
}
.hidden {
  display: none;
}
